{% extends "base.html" %}
{% block content %}
    
    
<div class="container">
  <div class="row">
    <div class="col"> 

<div class="container p-1">
<div class="row justify-content-center p-2 bg-success text-white">
    <h2>Plasma Donor Application</h2></div> </div>
      <hr>
 
<h1> IBM-Project-1022-1658334970 </h1>
<h4>Plasma Donor Application</h4>
<br>
During the COVID 19 crisis, the requirement of plasma became a high priority and the donor count has become low. Saving the donor information and helping the needy by notifying the current donors list, would be a helping hand. In regard to the problem faced, an application is to be built which would take the donor details, store them and inform them upon a request.
<br>
<br>

<h5>Team members:</h5> 
<br>

RAMYA N<br>
NANDHINI L<br>
SHARATH KUMAR R<br>
SARIKA P<br>
    
    </div> </div></div>
 
    {% endblock %}
    
